/* Split the screen in half */
.split {
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: palevioletred;
  }
  .lefttext {
    text-align: left;
    font-size: large;

  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }
  .righttext {
    text-align: left;

  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 110%;
    left: 40%;
    right: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 200px;
    border-radius: 30%;
   
  }
h3 {
    color: darkslateblue;
}